.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .mt-15{
    margin-top: 15px;
  }
  
  .small-aclaration{
    padding-left: 9px;
    color: grey;
    position: relative;
    bottom: 15px;
  }
  
  .slider{
    width: 100%;
  }
  
  .pl-5{
    padding-left: 5px;
  }
  
  .button-container{
    width: 100%;
    text-align: right;
  }
  